body {
    font-family: "Open Sans", Helvetica, arial, clean, sans-serif;
    margin-top: 20px;
    color: #93a1a1;
    background: #002b36;
}

ul,
ol {
    list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: #fff;
}

h1 {
    font-size: 1.7em;
    margin-bottom: 1.4em;
}

h2 {
    font-size: 1.35em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

a,
a:hover {
    color: #268bd2;
}

a:hover,
a:visited:hover {
    text-decoration: underline;
}

a:visited {
    color: #888;
}

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
    padding-left: 0;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #859900;
    font-size: 84%;
    font-weight: bold;
}

.post img,
.post iframe {
    border: solid 2px #073642;
}

blockquote {
    border-left: solid 1px #657b83;
}

blockquote p {
    color: #657b83;
}