<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="dimkalinux" />
        <link rel="stylesheet" href="/css/normalize.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
    </head>
    <body>
        <section class="content">
            {{ content }}
        </section>
    </body>
</html>